body,
html {
    height: 100%;
    width: 100%;
    background-color: #1b1b1b;
    display: flex;
}

.column,
.columnBig {
    display: flex;
    flex-direction: column;
}

.columnBig {
    flex: 3;
}

.row {
    flex: 1;
    display: flex;
}

.smallRow {
    display: flex;
}

.smallWidget,
.widget,
.user {
    background-color: #808080;
    display: flex;
    margin: 10px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
}

.widget {
    background-color: #292929;
}

.user {
    padding: 10px;
    flex-direction: row;
}

.round {
    border-radius: 50%;
}

.marginRight {
    margin-right: 10px;
}

.center {
    align-items: center;
    justify-content: center;
    display: flex;
}

.input {
    background-color: #808080;
    border: none;
    outline: none;
    font-size: 1.5em;
    width: 100%;
}

.input::placeholder {
    color: black;
    text-align: center;
}